<h2>{{ book.title }}</h2>
<h3>{{ book.title }}</h3>

<hr>

<p>
    <strong>ISBN</strong> {{ book.isbn }}
</p>

<p>
   <strong>Stock</strong> {{ book.stock }}
</p>   

<p>
    <strong>Price</strong> {{ book.price|number_format(2) }} 
</p>


















